<!-- Toolbar-->
<mat-toolbar
  role="heading"
  class="mat-elevation-z6"
  color="primary">
  <mat-toolbar-row>

    <span>Live Simulations - Alexandre Lombard</span>

    <span class="fill-remaining-space"></span>

    <span style="margin: auto;">
      <a
        target="_blank"
        href="https://www.ciad-lab.fr">
      <img
        width="40"
        alt="Ciad Lab Logo"
        src="../assets/logo_ciad_40.png" />
    </a>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    This website presents traffic simulations using several control algorithms.
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Lateral control</mat-card-title>
  <mat-card-content>

  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
